@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove browser defaults */
html,
body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #111;
}

/* Smooth font */
body {
  font-family: system-ui, sans-serif;
}
:root {
  --primary: #2563eb;
  --primaryLight: #3b82f6;
  --primaryDark: #1e40af;
  --accent: #0ea5e9;

  --bgSoft: #f8fafc;
  --borderSoft: #e2e8f0;
}
